.contenedor-tabla-analisis {
	/* border: 2px solid aliceblue; */
	padding: 0.4em;
	margin: 0 0 2em 0;
	box-shadow: 1px 2px 8px rgba(0,0,0,0.2);
}

.contenedor-analisis {
	width: 70%;
	background-color: white;
	margin: 0 auto 4em;
}

.contenedor-analisis table td {
	font-size: 0.9em;
}

.listado-analisis tr:first-child {
	background-color: white !important;
}

.listado-analisis tr:nth-child(2) {
	background-color: aliceblue !important;
}

.listado-analisis tr:first-child td {
	padding: 1em 0;
}

.listado-analisis tr:first-child td:first-child {
	font-size: 1.2em;
}

.listado-analisis tr:first-child td:nth-child(2) {
	font-size: 1em;
}

.listado-analisis {
	width: 100%;
	margin: 0 auto;
	border-collapse: collapse;
}

.listado-analisis td, .listado-analisis th {
	padding: 0.6em 1em;
	text-align: center;
}

.listado-analisis tr:last-child td {
	border: none;
}

.listado-analisis th {
	background-color: aliceblue;
	color: #333;
}

.listado-analisis tr:nth-child(2n+2) {
	background-color: aliceblue;
}

