#contenedor {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 14% 72% 14%;
}

header, footer {
    display: grid;
    grid-column: 1 / span 2;
    grid-template-columns: 40% 60%;
    justify-content: space-between;
    align-content: center;
}

header, footer, nav {
    background-color: aliceblue;
}

header, footer, nav, main {
    font-size: 2em;
}

hr {
    border: 0.5px solid #333;
    width: 80%;
}

#logo, #copyright {
    align-self: center;
}

#login, #privacidad {
    justify-self: end;
}

#contenido-principal {
    text-align: center;
}

ul {
    list-style-type: none;
}

ul li {
    margin: 16px;
    cursor: pointer;
}

ul li:hover {
    color:palevioletred;
}




