form {
    width: fit-content;
    margin: 0 auto;
}

label {
    /* display: block; */
    padding-right: 1em;
    /* margin-bottom: 4px; */
}

input {
    padding: 6px;
    width: -webkit-fill-available;
    font-size: 0.75em;
}


input[type="date"] {
    font-size: 1em;
}

td {
    text-align: left;
    padding: 0.4em 0;
}
/* 
tr:nth-of-type(6) {
    text-align: center;
} */

#enviar {
    background-color: #d87093;
    color: white;
    border-style: none;
    width: -webkit-fill-available;
    padding: 0.6em 0;
    text-align: center;
    cursor: pointer;
}

#enviar:hover {
    background-color: white;
    color: #d87093;
    border: 2px solid #d87093;
}


