form {
    width: fit-content;
    margin: 0 auto;
}

form > table {
    margin: 0 auto 1em;
}

form > table th, td {
    padding: 0.3em 1.6em;
}

form > table td {
    text-align: left;
}

form > table tr:last-child td {
	text-align: right;
	padding: 1em 1.6em;
}

form label {
    padding-right: 1em;
}

form input {
    padding: 0.4em;
    width: -webkit-fill-available;
    width: -moz-available;
}

form input[type="date"] {
	font-family: Arial, Helvetica, sans-serif;
}

form .boton {
    background-color: #d87093;
    color: white;
    border: 2px solid transparent;
    width: -webkit-fill-available;
    width: -moz-available;
    padding: 0.4em 0;
    text-align: center;
    cursor: pointer;
}

form .boton:hover {
    background-color: white;
    color: #d87093;
    border: 2px solid #d87093;
    margin: 0;
}

#perfil label, #cuenta label {
	display: block;
	margin-bottom: 0.3em;
}

#perfil .boton {
	width: 8em;
}

#perfil input[type="button"] {
	margin-right: 1em;
}

#cuenta table {
	width: 60%;
}

#cuenta input[type="button"] {
	width: 7.5em;
	float: left;
	margin: 0;
}

#cuenta input[type="submit"] {
	width: 7.5em;
	float: right;
}

