main {
    padding: 5em 4.5em 4.5em 4.5em;
}

main h1 {
    font-size: 1.75em;
    font-weight: lighter;
    text-align: center;
    margin-top: 0.5em;
}

main p {
    text-align: justify;
    font-size: 1.25em;
    margin: 1em 0;
}

img {
    width: 80%;
}

#portal {
    width: 90%;
}

#descripcion {
    display: grid;
    grid-template-columns: 45% 55%;
    margin-bottom: 3.5em;
}

#ventajas {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-between;
}

#ventajas div, #ventajas p {
    text-align: center;
    font-size: 1.1em;
}

#ventajas img {
    width: 27%;
}

footer a {
	color: #333;
	text-decoration: none;
}

#contenedor-legal {
	width: 70%;
	margin: 0 auto;
}

#contenedor-legal h1 {
	margin-bottom: 0.8em;
}

#referencias {
	margin-top: 1.6em;
}

#referencias li {
	padding: 0.3em 0;
	
}

.tipo-referencia {
	margin-top: 1em;
	font-weight: bold;
}

#referencias li:not(.tipo-referencia) {
	list-style-type: "- ";
	margin-left: 0.7em;
}

