main {
    padding: 4.5em;
}

main h1 {
    font-size: 1.75em;
    font-weight: lighter;
    text-align: center;
    margin-top: 0.5em;
}

main p {
    text-align: justify;
    font-size: 1.25em;
    margin: 1em 0;
}

img {
    width: 90%;
}

#portal {
    width: 90%;
}

#descripcion {
    display: grid;
    grid-template-columns: 45% 55%;
    padding-bottom: 4.5em;
}

#ventajas {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-between;
}

#ventajas div, #ventajas p {
    text-align: center;
    font-size: 1.1em;
}

#ventajas img {
    width: 30%;
}


