.listado-medicamento {
	width: 100%;
	border-collapse: collapse;
}

.contenedor-medicamento {
	width: 70%;
	background-color: white;
	padding: 1.2em 1.2em 0.6em;
	margin: 0 auto 2em;
	border-radius: 6px;
	box-shadow: 1px 2px 8px rgba(0,0,0,0.2);
}

.contenedor-medicamento table td {
	font-size: 0.9em;
}

.contenedor-medicamento {
	margin-bottom: 4em;
}

.listado-medicamento td, .listado-medicamento th {
	padding: 0.6em 1em;
	text-align: center;
}

.listado-medicamento tr:last-child td {
	border: none;
}

.listado-medicamento th {
	background-color: aliceblue;
	color: #333;
}

.listado-medicamento tr:nth-child(2n+1) {
	background-color: aliceblue;
}



