body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

#contenedor {
    width: 100vw;
}

header {
    position: fixed;
    top: 0;
    width: -webkit-fill-available;
	padding: 0.5em 4em 0.5em 2.5em;
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: lightsteelblue;
    z-index: 10;
}

header nav {
    text-align: right;
}

#menu-header {
    list-style-type: none;
    padding-left: 1em;
    margin: 0.4em;
}

#menu-header > li {
    margin: 16px;
    cursor: pointer;
    display: inline-grid;
}

#menu-header li a, #nombre-paciente {
    color: #d87093;
    text-decoration: none;
}

#news:hover, #nombre-paciente:hover {
	opacity: 0.75;
}

#paciente button {	
    color: #d87093;
    border: none;
    background-color: lightsteelblue;
    font-size: 1em;
    cursor: pointer;
}

#flecha {
	margin-left: 0.2em;
	font-size: 1.6em;
}


/* ############### Menu paciente ############### */

#nombre-paciente {
	position: relative;
}

#menu-paciente {
	position: absolute;
	top: 3.4em;
	right: 4em;
	border-radius: 2px;
	text-align: left;
	background-color: white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.2), 0 5px 16px 0 rgba(0,0,0,0.18);
}

#menu-paciente form {
	width: inherit;
}
	
#menu-paciente {
	padding: 0.3em 0.5em;
	margin: 0.6em 1.4em 0 0;
} 

#menu-paciente li {
	padding: 0.3em 0.5em;
	margin: 0 -0.5em;
}

#menu-paciente li:not(:nth-child(3)):hover {
    background-color: #f0f0f0 !important;
}

#menu-paciente li:last-child {
	padding: 0;
	margin: 0;	
}

#menu-paciente hr {
	margin: 0 -0.5em;
	height: 0.03em;
	border: none;
	background-color: rgb(210,210,210);
}

#cerrar-sesion input {
    background-color: white;
    border: none;
    cursor: pointer;
    font-family: inherit !important;
    font-size: inherit !important;
    text-align: left;
    padding: 0.3em 0.5em;
    margin: 0 -0.5em;
}

#cerrar-sesion input:hover {
	background-color: #f0f0f0;
}

/* ############### Fin menu paciente ############### */


#logo, #copyright {
    align-self: center;
}

#logo {
    font-size: 1.8em;
}

#logo a {
    color: white;
    text-decoration: none;
}

/* ############### Nav Main ################## */

#contenedor > nav {
    position: fixed;
    top: 4.26em;
    bottom: 0;
    width: 12em;
    background-color: aliceblue;
}

#menu {
	padding: 0 1.5em;
	margin-top: 3em;
}

main {
    margin-top: 7em;
    margin-left: 12em;
}

#menu li {
	display: block;
	cursor: pointer;
    padding: 1em 0;
	font-size: 1.3em;
}

#menu li:hover {
	color: #d87093;
}

#menu li:focus {
	color: #d87093;
}

main h1 {
    font-size: 2em;
    font-weight: lighter;
}

#menu hr {
    border: 0.5px solid #333;
}

#contenido-principal {
    text-align: center;
    margin-top: 8em;
    /* width: 100vw; */
    height: 100vh;
}

/* ############### Responsive ################## */

/* Laptop */
@media screen and (max-width: 1024px) {


}

/* Tablet */
@media screen and (max-width: 768px) {


}

/* Móbil */
@media screen and (max-width: 425px) {

    header {
        padding: 0.5em 2em;
    }

    #menu-header li {
        margin: 8px;
        font-size: 1.3em;
    }

    #menu-header {
        display: inline-flex;
    }

    #logo {
        font-size: 1.6em;
    }

    #contenedor > nav {
        position: static;
        width: 100%;
        margin-top: 6.4em;
        text-align: center;
    }
    
    #menu li {
        padding: 0.6em 0;
    }
}

