#contenedor {
    width: 100vw;
	height: 100vh;
    display: grid;
    /* grid-template-columns: 20% 80%; */
    /* grid-template-rows: 14% 74% 12%; */
}

header, footer {
    /* display: grid;
    grid-column: 1 / span 2;
    grid-template-columns: 40% 60%;
    justify-content: space-between;
    align-content: center;
    padding: 0 2.5em;
    background-color: lightsteelblue; */
}

#menu li {
	display: block;
	cursor: pointer;
}

nav ul li:hover {
    color:palevioletred;
}

main h1 {
    font-size: 2em;
    font-weight: lighter;
}

hr {
    border: 0.5px solid #333;
    width: 80%;
}

#contenido-principal {
    text-align: center;
}

table {
    margin: 0 auto;
    font-size: 1.2em;
}

table th, td {
    padding: 0.3em 1.6em;
}





